services:
  db:
    image: mysql:8.0
    container_name: mysql8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123456
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wp123456
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - wpnet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    volumes:
      - ./redis-data:/data
    networks:
      - wpnet

  wordpress:
    depends_on:
      db:
        condition: service_healthy
    build: ./php
    container_name: php-fpm
    restart: always
    volumes:
      - ./wp-content:/var/www/html/wp-content
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wp123456
      WORDPRESS_DB_NAME: wordpress
    networks:
      - wpnet

  nginx:
    depends_on:
      - wordpress
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./wp-content:/var/www/html/wp-content
      - ./nginx/logs:/var/log/nginx
    networks:
      - wpnet

networks:
  wpnet:
    driver: bridge

volumes:
  mysql-data:
  redis-data:
